extends ./templates/layout.jade

block title 
    title Italy 2016

block contents

    main

        h1 #{title} Calendar
        
        ul.Days
        
            each day in calendar.days
                
                li(class="Day Day--#{day.location}")
                    .DayHeader
                        .DayHeader-day #{moment(day.date).format('dddd')}
                        .DayHeader-date
                            .DayHeader-month #{moment(day.date).format('MMMM')}
                            .DayHeader-number #{moment(day.date).format('DD')}
                    
                    ul.DayBody
                        
                        each item in day.items
                        
                            li= item.text
